.top-bar, .top-bar ul
{
    background-color: $navBackground;
}

.top-bar
{
    .menu-text 
    {
        color: $menuText;
    }

    .menu li a
    {
        display: inline;
        padding: 0;
    }

    .active-link
    {
        font-weight: bold;
    }
}
